body {
    margin: 0;
}

.centralizer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d4d4d480;
}



.signInBtn {
    width: 100px;
    height: 50px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(45deg, #212121 30%, #4b4b4b 90%);
    box-shadow: 0 3px 5px 2px #0000004d;

    border-radius: 14px;
    border: none;
    cursor: pointer;
}
.signUpBtn {
    width: 100px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(45deg, #212121 30%, #4b4b4b 90%);
    box-shadow: 0 3px 5px 2px #0000004d;

    border-radius: 14px;
    border: none;
    cursor: pointer;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #69d5ffec;
    text-decoration: none;
  
}